  
*,  
*::before,
*::after {
  box-sizing: border-box;
}
html { 
  --todo-list-padding: 10px;
  --hearder-height: 50px;
  --gray-color: #e6e6e6;  

  font-family: sans-serif;
  font-size: 15px;
}
body {
  width: 100%;
  max-width: 800px;
  min-width: 550px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: text-bottom;
}
button {
  cursor: pointer;
}
.display-none {
  display: none;
}
.visibility-hidden {
  visibility: hidden;
}
.app {
  height: calc(100% - 40px);
  flex: 1 1 200px;
  padding: 5vh 10px 15px;
}
.site-footer {
  margin: 10px 0;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}
.center-align {
  display: flex;
  align-items: center; // V for line
  justify-content: center; // H for line
}
.site-footer .inline-logo {
  width: 16px;
  margin: 0 5px;
  vertical-align: text-bottom;
}