:root {
  --button-border: 1px solid #cacaca;
  --button-border-radius: 2px;
  --button-background-color: #f0f0f0;
  --button-hover-background-color: #f4f4f4;
}

*,  
*::before,
*::after {
  box-sizing: border-box;
}
html { 
  --todo-list-padding: 10px;
  --hearder-height: 50px;
  --gray-color: #e6e6e6;  

  font-family: sans-serif;
  font-size: 15px;
}
body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-size: unset;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: text-bottom;
}
button {
  cursor: pointer;
}
.display-none {
  display: none;
}
.visibility-hidden {
  visibility: hidden;
}
.app {
  flex: 1 1 200px;
  padding: 35px 10px 0;
}
.center-align {
  display: flex;
  align-items: center; // V for line
  justify-content: center; // H for line
}
.site-footer {
  margin: 25px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  .copyright {
    margin-top: 5px;
  }
  .inline-logo {
    width: 16px;
    margin: 0 5px;
    vertical-align: text-bottom;
  }
  .logos {
    flex-wrap: wrap;
    line-height: 20px;
  }
  .redux-logo {
    filter: drop-shadow(0px 0px 1px #9f80d0);
  }
  .react-logo {
    filter: drop-shadow(0px 0px 1px #222);
  }
  .webpack-logo {
    filter: drop-shadow(0px 0px 3px #90d7fb);
  }
}
.gradient-text {  
  background: linear-gradient(45deg, #b800b8, Violet, #ff4848,  #ffc100, #fffa00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 1px Violet);
  font-size: 2.5em;
}