:root {
  --button-border: 1px solid #cacaca;
  --button-border-radius: 2px;
  --button-background-color: #f0f0f0;
  --button-hover-background-color: #f4f4f4;
  --todo-list-padding: 10px;
  --hearder-height: 50px;
  --gray-color: #e6e6e6;
  --color: #444;
}

*,  
*::before,
*::after {
  box-sizing: border-box;
}
html { 
  font-family: sans-serif;
  font-size: 15px;
  background: radial-gradient(circle, #fff 80%, rgba(208, 208, 208, .5) 100%);
  color: var(--color);
}
body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-size: unset;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: text-bottom;
}
button:not(:disabled) {
  cursor: pointer;
}
.display-none {
  display: none;
}
.visibility-hidden {
  visibility: hidden;
}
.app {
  flex: 1 1 200px;
  padding: 40px 10px 0;
}
.center-align {
  display: flex;
  align-items: center; // V for line
  justify-content: center; // H for line
}
.site-footer {
  margin: 30px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  font-size: 14px;
  &::before {
    content: '';
    height: 1px;
    width: 100%;
    position: relative;
    top: -10px;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(150, 150, 150) 50%, rgb(255, 255, 255) 100%);
    animation: live-line 5s linear infinite;
    background-repeat: no-repeat;
    background-position: center;
  }
  .copyright {
    margin-top: 5px;
  }
  .inline-logo {
    width: 16px;
    margin: 0 5px;
    vertical-align: text-bottom;
  }
  .logos {
    flex-wrap: wrap;
    line-height: 20px;
  }
  .redux-logo {
    filter: drop-shadow(0px 0px 1px #9f80d0);
  }
  .react-logo {
    filter: drop-shadow(0px 0px 1px #222);
  }
  .webpack-logo {
    filter: drop-shadow(0px 0px 3px #90d7fb);
  }
}
.gradient-text {  
  background: linear-gradient(45deg, #b800b8, Violet, #ff4848,  #ffc100, #fffa00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 1px Violet);
  font-size: 2.5em;
}
.megafancy {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  font-size: 11px;  
  text-transform: uppercase;
  background: radial-gradient(circle farthest-corner at center center,rgb(80, 80, 80),rgb(50, 50, 50)) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shine::before {
  content: attr(data-content);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(45deg, rgba(255,255,255,0) 45%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%);
  -webkit-background-clip: text;
  color: transparent;
  mix-blend-mode: screen;
  background-size: 200%;
  background-position: -100%;
  animation: shine 5s linear infinite;
}

@keyframes live-line {
  0% {background-size: 100% 100%;}
  50% {background-size: 50% 100%;}
  100% {background-size: 100% 100%;}
}
@keyframes shine {
  0% {background-position: -80%;}
  100% {background-position: 100%;}
}