.HomePage {
  h1 {
    text-align: center;
    margin-top: 0;
  }
}

.Homepage__List {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  li {
    display: flex;
    align-items: center;
  }
}

.HomePage__Item {
  --icon-margin: 15px;
  --icon-size: 20px;
  --info-padding: 1px;

  width: 250px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 5px 5px 5px 0;
  padding: 10px 0 10px 15px;
  border: 2px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;

  .list-icon {
    margin-right: var(--icon-margin);
    font-size: var(--icon-size);
  }
  .remove-icon, .menu-icon {
    font-size: var(--icon-size);
  }
  .remove-btn, .menu-btn {
    padding: 6px 12px;
    margin: 0 10px;
    min-width: auto;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .edit-date {
    margin-top: 2px;
    font-size: 12px;
    color: #888;
  }
}

.HomePage__NewItem {
  padding: 9px 15px;
  justify-content: center;
  border-style: dashed;
  font-size: 30px;
  color: #777;
  cursor: pointer;

  .icon-add-list {
    padding: 0;
  }
}