.Footer {
  position: relative;
  border-top: 1px solid var(--gray-color);
  padding: var(--todo-list-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }
} 

.Footer--hidden { 
  display: none;
}

.Footer__btn-link {
  background: none;
  border: none;
  &:hover {
    text-decoration: underline;
  }
  &:disabled {
    text-decoration: none;
  }
}

.Footer button {
  height: 30px;
  min-width: 50px;
  margin-top: 3px;
  outline: none;
  cursor: pointer;
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  
  &:not(:disabled) {
    color: var(--color);
  }
  &:hover:not(:disabled) {
    background-color: var(--button-hover-background-color);
  }
  &:disabled {
    cursor: default;
  }
  &:not(:first-of-type) {
    margin-left: 3px;
  }
}

.Footer__items-amount {
  margin-right: 10px;
  flex-grow: 1;
  padding: 0;
  position: relative;
  top: 2px;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.Footer__toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-bottom: 5px;
  align-items: center;
  width: 100%;
}