.Items {
  h1 {
    text-align: center;
    .megafancy {
      font-size: 12px;
    }
  }
}
.Items__box {
  max-height: 100%;
  display: flex;
  flex-direction: column;  
  box-shadow: 0 0 5px 0 #bbb;
}
.Items__btn-back {
  position: absolute;
  top: 10px;
  text-decoration: none;
  color: var(--color);
  .icon-back {
    margin-right: 3px;
  }
  button {
    color: inherit;
  }
}