.Todo {
  position: relative;
  padding: 8px var(--todo-list-padding);
  cursor: default;
  line-height: 20px;
  display: flex;  
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-color);
  }
  &:hover {
    .Todo__toolbar {
      display: block;
    }
  }
}
.Todo__checkbox {
  flex-shrink: 0;
}
.Todo__text {
  flex-grow: 1;
  word-break: break-word;
}
.Todo--completed {
  text-decoration: line-through;
  color: #bbb;
}
.Todo-enter {
  opacity: 0;
  transition: opacity 500ms;
}
.Todo-enter-active {
  opacity: 1;
}
.Todo-exit {
  opacity: 1;
  transition: opacity 300ms;
}
.Todo-exit-active {
  opacity: 0;
}
.Todo__toolbar {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 2px;
  background: #fff;
  border-radius: 50%;
  color: var(--color);

  button {
    color: inherit;
  }
  .button {
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
  }
  .button:hover:not(:disabled) {
    background-color: var(--button-hover-background-color);
  }
  .MuiIconButton-root {
    padding: 8px;
  }
}

@media (hover:none) {
  .Todo .Todo__toolbar {
    display: block;
    margin: -8px -8px -8px 0;
    position: relative;
    right: unset;
  }
}