@import '~normalize.css/normalize.css';

html {
  --todo-list-padding: 10px;
  --hearder-height: 50px;
  --gray-color: #919191;  

  font-family: sans-serif;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
[type="checkbox"] {
  margin-right: 10px;
  width: 18px;
  vertical-align: text-bottom;
  height: 18px;
}
button {
  cursor: pointer;
}
.todo-list {
  max-width: 800px;
  min-width: 550px;
  margin: 10px;
  box-shadow: 0 0 5px 0 #bbb;
}
.todo-list_toolbar {
  border-top: 1px solid var(--gray-color);
  height: var(--hearder-height);
  padding: var(--todo-list-padding);
  display: flex;
  align-items: center;
  justify-content: flex-end;
} 
.todo-list_add-task-input {
  display: block;
  width: 100%;
  border-width: 0;
  outline: none;
}
.todo-list_content_item,
.todo-list_content_empty {
  padding: 8px var(--todo-list-padding);
}
.todo-list_add-task-input {
  height: var(--hearder-height);
}
.todo-list_toolbar_items-amount {
  flex-grow: 1;
}
.todo-list_content_empty {
  text-align: center;
}
.display-none {
  display: none;
}
.visibility-hidden {
  visibility: hidden;
}
.Todo {
  position: relative;
  &:hover {
    .Todo__toolbar {
      display: block;
    }
  }
}

.Todo__toolbar {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--todo-list-padding);
  cursor: pointer;
}
