.Footer {
  position: relative;
  border-top: 1px solid var(--gray-color);
  height: var(--hearder-height);
  padding: var(--todo-list-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }
} 

.Footer--hidden { 
  display: none;
}

.Footer__btn-link {
  background: none;
  border: none;
  &:hover {
    text-decoration: underline;
  }
  &:disabled {
    text-decoration: none;
  }
}

.Footer button {
  height: 30px;
  min-width: 50px;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
  &:not(:first-of-type) {
    margin-left: 5px;
  }
}