<div class="todo-list">
  <input type="text" placeholder="Add a task ..." class="todo-list_add-task-input">
  <div class="todo-list_content">
    <div class="todo-list_content_item"><input type="checkbox">lorem50</div>
  </div>
  <div class="todo-list_toolbar">
    <span class="todo-list_toolbar_items-amount">Total item(s): X</span>
    <button class="todo-list_toolbar_button">All</button>
    <button class="todo-list_toolbar_button">Active</button>
    <button class="todo-list_toolbar_button">Completed</button>
    <button class="todo-list_toolbar_button">Clear completed</button>
  </div>  
</div>