.Todo {
  position: relative;
  padding: 8px var(--todo-list-padding);
  cursor: default;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-color);
  }
  &:hover {
    .Todo__toolbar {
      display: block;
    }
  }
}
.Todo_completed {
  text-decoration: line-through;
  color: #bbb;
}
.Todo_enter {
  opacity: 0;
  transition: opacity 500ms;
}
.Todo_enter-active {
  opacity: 1;
}
.Todo_leave {
  opacity: 1;
  transition: opacity 300ms;
}
.Todo_leave-active {
  opacity: 0;
}
.Todo__toolbar {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--todo-list-padding);
  cursor: pointer;
}
.Todo__remove-btn {
  font-size: 14px;
}
